<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Welcome to Product Shopping</h2>
{% if product_list %}
<table border="3px">
    <thead>
    <th>ProductID</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Color</th>
    <th>Product Quantity</th>
    <th>Edit/Delete</th>
    </thead>
    {% for pro in product_list %}
    <tr>
        <td><a href="/{{pro.id}}">{{pro.id}}</a></td>
        <td>{{pro.Pname}}</td>
        <td>{{pro.Pprice}}</td>
        <td>{{pro.Pcolor}}</td>
        <td>{{pro.Quantity}}</td>
        <td><a href="{% url 'pro_update' pro.id %}">Edit</a></td>
        <td><a href="{% url 'pro_delete' pro.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Currently no products available</h2>
{% endif %}
<br>
<a href="/create">Add Product</a>
</body>
</html>